<%= form_tag bookmark_managers_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search Tag", :name => nil %>
  </p>
<% end %>

<div id="bookmarks">
 <% @bookmark_managers.each do |bookmark_manager| %>
    <h2><%= link_to bookmark_manager.name, bookmark_manager %></h2>
   
   <p>Tags: <%= raw bookmark_manager.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></p>

    <p><%= link_to "Edit Bookmark", edit_bookmark_manager_path(bookmark_manager) %></p>
  <% end %>
</div>
<%= link_to 'New Bookmark manager', new_bookmark_manager_path %>
