<p id="notice"><%= notice %></p>

<h1>Listing Bookmark Managers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bookmark_managers.each do |bookmark_manager| %>
      <tr>
        <td><%= bookmark_manager.name %></td>
        <td><%= link_to 'Show', bookmark_manager %></td>
        <td><%= link_to 'Edit', edit_bookmark_manager_path(bookmark_manager) %></td>
        <td><%= link_to 'Destroy', bookmark_manager, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Bookmark manager', new_bookmark_manager_path %>
